.gitignore
.yarnrc
.vscode/**
.vscode-test/**
dist/web/test/**
out/test/**
out/**/*.map
src/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Custom
eslint.config.mjs
myfiles/**